build-harness-extensions/
build-harness/
.build-harness-bootstrap
build/_output
bin

# override build harness vendoring
!vbh/.build-harness-bootstrap
!vbh/build-harness
!vbh/build-harness-extensions
.vscode/launch.json
cmd/manager/__debug_bin
kubeconfig_managed
