build-harness-extensions/
build-harness/
.build-harness-bootstrap
build/_output
bin
vendor/

# override build harness vendoring
!vbh/.build-harness-bootstrap
!vbh/build-harness
!vbh/build-harness-extensions
.vscode/launch.json
cmd/manager/__debug_bin
kubeconfig_managed
kubeconfig_managed2

report.json
report_*.json
gosec.json
*.out
