apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.1
  creationTimestamp: null
  name: certificatepolicies.policy.open-cluster-management.io
spec:
  group: policy.open-cluster-management.io
  names:
    kind: CertificatePolicy
    listKind: CertificatePolicyList
    plural: certificatepolicies
    singular: certificatepolicy
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: CertificatePolicy is the Schema for the certificatepolicies API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CertificatePolicySpec defines the desired state of CertificatePolicy
            properties:
              allowedSANPattern:
                description: A pattern that must match any defined SAN entries in
                  the certificate for the certificate to be compliant.  Golang's regexp
                  syntax only.
                minLength: 1
                type: string
              disallowedSANPattern:
                description: A pattern that must not match any defined SAN entries
                  in the certificate for the certificate to be compliant. Golang's
                  regexp syntax only.
                minLength: 1
                type: string
              labelSelector:
                additionalProperties:
                  minLength: 1
                  type: string
                type: object
              maximumCADuration:
                description: Maximum CA duration for a signing certificate, longer
                  duration is considered non-compliant. Golang's time units only.
                pattern: ^(?:(?:[0-9]+(?:.[0-9])?)(?:h|m|s|(?:ms)|(?:us)|(?:ns)))+$
                type: string
              maximumDuration:
                description: Maximum duration for a certificate, longer duration is
                  considered non-compliant. Golang's time units only.
                pattern: ^(?:(?:[0-9]+(?:.[0-9])?)(?:h|m|s|(?:ms)|(?:us)|(?:ns)))+$
                type: string
              minimumCADuration:
                description: Minimum CA duration before a signing certificate expires
                  that it is considered non-compliant. Golang's time units only.
                pattern: ^(?:(?:[0-9]+(?:.[0-9])?)(?:h|m|s|(?:ms)|(?:us)|(?:ns)))+$
                type: string
              minimumDuration:
                description: Minimum duration before a certificate expires that it
                  is considered non-compliant. Golang's time units only.
                pattern: ^(?:(?:[0-9]+(?:.[0-9])?)(?:h|m|s|(?:ms)|(?:us)|(?:ns)))+$
                type: string
              namespaceSelector:
                description: '''namespaceSelector'' defines the list of namespaces
                  to include/exclude for objects defined in spec.objectTemplates.
                  All selector rules are ANDed. If ''include'' is not provided but
                  ''matchLabels'' and/or ''matchExpressions'' are, ''include'' will
                  behave as if [''*''] were given. If ''matchExpressions'' and ''matchLabels''
                  are both not provided, ''include'' must be provided to retrieve
                  namespaces.'
                properties:
                  exclude:
                    description: '''exclude'' is an array of filepath expressions
                      to exclude objects by name.'
                    items:
                      minLength: 1
                      type: string
                    type: array
                  include:
                    description: '''include'' is an array of filepath expressions
                      to include objects by name.'
                    items:
                      minLength: 1
                      type: string
                    type: array
                  matchExpressions:
                    description: '''matchExpressions'' is an array of label selector
                      requirements matching objects by label.'
                    items:
                      description: A label selector requirement is a selector that
                        contains values, a key, and an operator that relates the key
                        and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: operator represents a key's relationship to
                            a set of values. Valid operators are In, NotIn, Exists
                            and DoesNotExist.
                          type: string
                        values:
                          description: values is an array of string values. If the
                            operator is In or NotIn, the values array must be non-empty.
                            If the operator is Exists or DoesNotExist, the values
                            array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: '''matchLabels'' is a map of {key,value} pairs matching
                      objects by label.'
                    type: object
                type: object
              remediationAction:
                description: enforce, inform
                enum:
                - Inform
                - inform
                - Enforce
                - enforce
                type: string
              severity:
                description: low, medium, high, or critical
                enum:
                - low
                - Low
                - medium
                - Medium
                - high
                - High
                - critical
                - Critical
                type: string
            type: object
          status:
            description: CertificatePolicyStatus defines the observed state of CertificatePolicy
            properties:
              compliancyDetails:
                additionalProperties:
                  description: CompliancyDetails defines the all the details related
                    to whether or not the policy is compliant
                  properties:
                    message:
                      type: string
                    nonCompliantCertificates:
                      type: integer
                    nonCompliantCertificatesList:
                      additionalProperties:
                        description: Cert contains its related secret and when it
                          expires
                        properties:
                          ca:
                            type: boolean
                          duration:
                            description: A Duration represents the elapsed time between
                              two instants as an int64 nanosecond count. The representation
                              limits the largest representable duration to approximately
                              290 years.
                            format: int64
                            type: integer
                          expiration:
                            type: string
                          expiry:
                            description: A Duration represents the elapsed time between
                              two instants as an int64 nanosecond count. The representation
                              limits the largest representable duration to approximately
                              290 years.
                            format: int64
                            type: integer
                          sans:
                            items:
                              type: string
                            type: array
                          secretName:
                            type: string
                        type: object
                      type: object
                  type: object
                description: map of namespaces to its compliancy details
                type: object
              compliant:
                description: Compliant, NonCompliant, UnknownCompliancy
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
